<div class="folder" tabindex="0" data-id="<%= e._id %>" data-name="<%= e.folderName %>"
    data-contextmenu="true" data-menus="delete,  move, share, rename"
    onclick="window.location.href = `/folder/<%= e._id %>`" data-cardName="<%= e.folderName %>"
    data-mtype="folder" data-cardauthor="<%= e.author._id %>" data-userId="<%= userId %>"
    style="flex: 1;min-width: 197px; max-width: 210px;display: flex;align-items: center;gap: 10px; padding: 10px;background: var(--bg-color);border-radius: 10px;justify-content: space-between; box-shadow: var(--box-shadow);">
    <div style="display: flex;justify-content: center;align-items: center;gap: 10px;">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#F7B31B"
                stroke="currentColor" stroke-width=".1" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-folder-icon lucide-folder">
                <path
                    d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
            </svg></span><span
            style="display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;">
            <%= e.folderName%>
        </span>
    </div>
    <div class="menu_top" data-menu-id="<%= e._id %>" data-id="<%= e._id %>"
        data-menus="delete, move, share, rename" onclick="openContextMenu(event)" data-userId="<%= userId %>"
        data-cardauthor="<%= e.author._id %>" data-cardName="<%= e.folderName %>" data-mtype="folder"
        data-contextMenu="true" tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
            <circle cx="12" cy="12" r="1" />
            <circle cx="12" cy="5" r="1" />
            <circle cx="12" cy="19" r="1" />
        </svg>
    </div>
</div>