<div class="notebook" style="position: relative;" data-contextMenu="true" data-menus="delete, edit, open"
ondblclick="window.location.href = '/notebook/view/<%= e._id%>'"
    data-mtype="notebook" data-id="<%= e._id %>" data-cardauthor="<%= e.author._id %>" data-userid="<%= userId %>">
    <div class="notebook-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; justify-content: start; align-items: center; gap: 10px;">
            <div class="avator" style="display: flex;align-items: center;gap: 10px;">
                <img src="<%= e.author.userImage %>" alt="This is a Image of <%= e.author.userName %>" width="40px"
                    style="border-radius: 50% !important; box-shadow: var(--box-shadow);" height="40px">
            </div>
        </div>
        <div class="menu_top" data-contextMenu="true" data-menus="delete, edit, open" data-id="<%= e._id %>"
            data-mtype="notebook" onclick="openContextMenu(event)" data-cardauthor="<%= e.author._id %>"
            data-userid="<%= userId %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
                <circle cx="12" cy="12" r="1" />
                <circle cx="12" cy="5" r="1" />
                <circle cx="12" cy="19" r="1" />
            </svg>
        </div>
    </div>
    <div class="notebook-content" style="width: 100%; padding: 10px;">
        <p style="font-size: xx-large; text-align: center;">
            <%= e.notebookName%>
        </p>
    </div>
    <span style="position: absolute; bottom: 10px; right: 10px; font-size: xx-small; margin: 10px; color: gray; ">
        <%= new Date(e.createdAt).toLocaleString()%>
    </span>
</div>