<style>
    .payment-button:hover {
        cursor: pointer;
        transform: scale(1.01);
        background: linear-gradient(40deg, #000000, #2e2e2e9d 70%) !important;
        color: black !important;
    }
</style>
<aside>
    <ul>
        <li>
            <span>Main Pages</span>
        </li>
        <li>
            <a href="/" class="<%- navigation === 'home' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard">
                    <rect width="7" height="9" x="3" y="3" rx="1" />
                    <rect width="7" height="5" x="14" y="3" rx="1" />
                    <rect width="7" height="9" x="14" y="12" rx="1" />
                    <rect width="7" height="5" x="3" y="16" rx="1" />
                </svg>
                Dashboard
            </a>
            <kbd>alt + d</kbd>
        </li>
        <li>
            <a href="/card" class="<%- navigation === 'card' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-earth-icon lucide-earth">
                    <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
                    <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
                    <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
                    <circle cx="12" cy="12" r="10" />
                </svg>
                Snippets
            </a>
            <kbd>alt + s</kbd>
        </li>
        <li>
            <a href="/folder" class="<%- navigation === 'folder' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-folder">
                    <path
                        d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                </svg>
                Folders
            </a>
            <kbd>alt + f</kbd>
        </li>
        <li>
            <a href="/tags" class="<%- navigation === 'tags' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-tags-icon lucide-tags">
                    <path
                        d="M13.172 2a2 2 0 0 1 1.414.586l6.71 6.71a2.4 2.4 0 0 1 0 3.408l-4.592 4.592a2.4 2.4 0 0 1-3.408 0l-6.71-6.71A2 2 0 0 1 6 9.172V3a1 1 0 0 1 1-1z" />
                    <path d="M2 7v6.172a2 2 0 0 0 .586 1.414l6.71 6.71a2.4 2.4 0 0 0 3.191.193" />
                    <circle cx="10.5" cy="6.5" r=".5" fill="currentColor" />
                </svg>
                Tags
            </a>
            <kbd>alt + t</kbd>
        </li>
        <li>
            <a href="/language" class="<%- navigation === 'lan' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-file-code-icon lucide-file-code">
                    <path
                        d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z" />
                    <path d="M14 2v5a1 1 0 0 0 1 1h5" />
                    <path d="M10 12.5 8 15l2 2.5" />
                    <path d="m14 12.5 2 2.5-2 2.5" />
                </svg>
                Language
            </a>
            <kbd>alt + l</kbd>
        </li>
        <li>
            <a href="/pin" class="<%- navigation === 'pin' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-pin-icon lucide-pin">
                    <path d="M12 17v5" />
                    <path
                        d="M9 10.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H8a2 2 0 0 0 0 4 1 1 0 0 1 1 1z" />
                </svg>
                Pinned
            </a>
            <kbd>alt + p</kbd>
        </li>
        <li>
            <a href="/fav" class="<%- navigation === 'fav' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-star-icon lucide-star">
                    <path
                        d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                </svg>
                Favorites
            </a>
            <kbd>alt + v</kbd>
        </li>
        <li>
            <a href="/draft" class="<%- navigation === 'draft' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-shredder-icon lucide-shredder">
                    <path d="M10 22v-5" />
                    <path d="M14 19v-2" />
                    <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                    <path d="M18 20v-3" />
                    <path d="M2 13h20" />
                    <path d="M20 13V7l-5-5H6a2 2 0 0 0-2 2v9" />
                    <path d="M6 20v-3" />
                </svg>
                Draft
            </a>
            <kbd>alt + r</kbd>
        </li>

        <!-- Creation Shortcuts -->
            <hr>

        <li>
            <span>Creation Shortcuts</span>

        </li>
        <li>
            <a href="/card/create" class="<%- navigation === 'card-create' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-square-dashed-bottom-code-icon lucide-square-dashed-bottom-code">
                    <path d="M10 9.5 8 12l2 2.5" />
                    <path d="M14 21h1" />
                    <path d="m14 9.5 2 2.5-2 2.5" />
                    <path d="M5 21a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2" />
                    <path d="M9 21h1" />
                </svg>
                New Snippet
            </a>
            <kbd>alt + n</kbd>
        </li>
        <li>
            <a href="#" class="<%- navigation === 'create-folder' ? 'active' : '' %>" tabindex="0"
                onclick="openCreateFolderModal(event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-folder-pen-icon lucide-folder-pen">
                    <path
                        d="M2 11.5V5a2 2 0 0 1 2-2h3.9c.7 0 1.3.3 1.7.9l.8 1.2c.4.6 1 .9 1.7.9H20a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-9.5" />
                    <path
                        d="M11.378 13.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                </svg>
                New Folder
            </a>
            <kbd>shift + f</kbd>
        </li>

        <!-- Search & Explore -->
            <hr>

         <li>
            <span>Search & Explore</span>

         </li>
        <li>
            <a href="/search" class="<%- navigation === 'search' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-search-icon lucide-search">
                    <path d="m21 21-4.34-4.34" />
                    <circle cx="11" cy="11" r="8" />
                </svg>
                Universal Search
            </a>
            <kbd>alt + u</kbd>
        </li>
        <li>
            <a href="/explore" class="<%- navigation === 'explore' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-telescope-icon lucide-telescope">
                    <path
                        d="m10.065 12.493-6.18 1.318a.934.934 0 0 1-1.108-.702l-.537-2.15a1.07 1.07 0 0 1 .691-1.265l13.504-4.44" />
                    <path d="m13.56 11.747 4.332-.924" />
                    <path d="m16 21-3.105-6.21" />
                    <path
                        d="M16.485 5.94a2 2 0 0 1 1.455-2.425l1.09-.272a1 1 0 0 1 1.212.727l1.515 6.06a1 1 0 0 1-.727 1.213l-1.09.272a2 2 0 0 1-2.425-1.455z" />
                    <path d="m6.158 8.633 1.114 4.456" />
                    <path d="m8 21 3.105-6.21" />
                    <circle cx="12" cy="13" r="2" />
                </svg>
                Explore Snippets
            </a>
            <kbd>alt + e</kbd>
        </li>

        <!-- Settings & Tools -->
            <hr>

         <li>
            <span>Settings & Tools</span>

         </li>
        <li>
            <a href="/import-export" class="<%- navigation === 'import-export' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-cloud-download-icon lucide-cloud-download">
                    <path d="M12 13v8l-4-4" />
                    <path d="m12 21 4-4" />
                    <path d="M4.393 15.269A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.436 8.284" />
                </svg>
                Import / Export
            </a>
            <kbd>alt + i</kbd>
        </li>
        <li>
            <a href="/settings" class="<%- navigation === 'settings' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-cog-icon lucide-cog">
                    <path d="M12 20a8 8 0 1 0 0-16 8 8 0 0 0 0 16Z" />
                    <path d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                    <path d="M12 2v2" />
                    <path d="M12 22v-2" />
                    <path d="m17 20.66-1-1.73" />
                    <path d="M11 10.27 7 3.34" />
                    <path d="m20.66 17-1.73-1" />
                    <path d="m3.34 7 1.73 1" />
                    <path d="M14 12h8" />
                    <path d="M2 12h2" />
                    <path d="m20.66 7-1.73 1" />
                    <path d="m3.34 17 1.73-1" />
                    <path d="m17 3.34-1 1.73" />
                    <path d="m11 13.73-4 6.93" />
                </svg>
                Settings
            </a>
            <kbd>alt + g</kbd>
        </li>
        <li>
            <a href="/profile" class="<%- navigation === 'account' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user-lock-icon lucide-user-lock">
                    <circle cx="10" cy="7" r="4" />
                    <path d="M10.3 15H7a4 4 0 0 0-4 4v2" />
                    <path d="M15 15.5V14a2 2 0 0 1 4 0v1.5" />
                    <rect width="8" height="5" x="13" y="16" rx=".899" />
                </svg>
                Account
            </a>
            <kbd>alt + o</kbd>
        </li>

        <!-- Auth -->
        <hr>
         <li>
            <span>Auth</span>
         </li>
        <li>
            <a href="/login" class="<%- navigation === 'login' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-scan-face-icon lucide-scan-face">
                    <path d="M3 7V5a2 2 0 0 1 2-2h2" />
                    <path d="M17 3h2a2 2 0 0 1 2 2v2" />
                    <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
                    <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
                    <path d="M8 14s1.5 2 4 2 4-2 4-2" />
                    <path d="M9 9h.01" />
                    <path d="M15 9h.01" />
                </svg>
                Login
            </a>
        </li>
        <li>
            <a href="/signup" class="<%- navigation === 'signup' ? 'active' : '' %>" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-key-icon lucide-key">
                    <path d="m15.5 7.5 2.3 2.3a1 1 0 0 0 1.4 0l2.1-2.1a1 1 0 0 0 0-1.4L19 4" />
                    <path d="m21 2-9.6 9.6" />
                    <circle cx="7.5" cy="15.5" r="5.5" />
                </svg>
                Sign Up
            </a>
        </li>
        <li>
            <hr>
            <span>Payment Options</span>
            <button
                style="width: 100%; border-radius: 30px 5px 30px 5px !important; padding: 15px !important; background: #000000; color: white; outline: none !important; border: 1px solid white;font-weight: bolder; display: flex;justify-content: center;align-items: center; height: 50px; transition: all .2s ease-in-out; gap: 5px;"
                class="payment-button" onclick="payNow()">
                Upgrade Plan
                <img src="https://images.icon-icons.com/3609/PNG/512/climate_forecast_weather_rain_storm_thunderstorm_thunder_icon_226629.png"
                    alt="" width="30px" height="30px" style="padding: 0 !important; margin:0 !important;">
            </button>
        </li>
    </ul>
    <div id="create-folder-modal">
        <div class="page_title">
            Create Folder
        </div>
        <label for="folderName" id="createFolder">
            <span>Folder Name:</span>
            <input type="text" name="folderName" id="folderName" placeholder="Folder Name" autocomplete="off"
                list="folderNames">
            <datalist id="folderNames">

            </datalist>
        </label>
        <button id="createFolderButton">Create</button>
        <button id="close" style="margin-left:10px; border: none; background: red; width: 40%;">Close</button>
        <span class="info" style="display: inline-block; text-align: center; margin-block:10px; width: 100%;"></span>
    </div>
    <div class="toast"></div>
</aside>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    function showToast(msg, type, duration = 10000) {
        let toast = document.querySelector(".toast");
        toast.textContent = msg;
        toast.classList.remove("success", "error");
        toast.classList.add(type);
        toast.style.display = "block";
        let timeout = setTimeout(() => {
            toast.style.display = "none";
            clearTimeout(timeout);
        }, duration);
    }

    async function folderNames() {
        let res = await fetch("/folder/all");
        let data = await res.json();
        return data.data;
    }
    document.getElementById("close").addEventListener("click", (e) => {
        const createFolderModal = document.getElementById('create-folder-modal');
        createFolderModal.classList.remove("active")
    })
    function openCreateFolderModal(e) {
        const info = document.querySelector(".info");
        info.innerHTML = "";
        e.preventDefault();
        e.stopPropagation();
        const createFolderModal = document.getElementById('create-folder-modal');
        createFolderModal.classList.toggle("active")
    }
    const createFolderModal = document.getElementById('create-folder-modal');
    window.addEventListener("click", (e) => {
        if (!createFolderModal.contains(e.target)) {
            createFolderModal.classList.remove("active")
        }
    });
    let createFolderButton = document.getElementById("createFolderButton");
    createFolderButton.addEventListener("click", async (e) => {
        e.preventDefault();
        const folderName = document.getElementById("folderName").value;
        if (!folderName) {
            console.info("Please enter a folder name")
            showToast("Please enter a folder name", "error", 10000)
            return;
        };
        let allfolderNames = await folderNames();
        if (allfolderNames.includes(folderName)) {
            showToast("Folder name already exists", "error", 10000)
            return;
        }
        const info = document.querySelector(".info");
        try {
            let res = await fetch("/folder/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ folderName: folderName })
            })
            if (res.ok) {
                showToast("Folder Created Successfully", "success", 3000)
                createFolderModal.classList.remove("active")
            } else {
                let data = await res.json();
                showToast("Error in creating folder", "error", 3000)
            }
        } catch (error) {
            console.log(error.message)
            showToast("Internal Server Error", "error", 3000)
        }
    });


</script>

<script>
    async function payNow() {
        const res = await fetch("/payment/create", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ amount: 500 }) // amount in rupees
        });
        const data = await res.json();
        console.log(data)
        const options = {
            key: "rzp_test_RYWagNme1MBx3k",
            name: "NoteSpace",
            description: "Test Payment",
            order_id: data.order.id,
            amount: 50000,
            currency: "INR",
            theme: { color: "#fff" },

            handler: async function (response) {
                console.log("Razorpay Response:", response);

                const verifyRes = await fetch("/payment/verify", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(response)
                });

                const verifyData = await verifyRes.json();
                console.log("Verification result:", verifyData);

                if (verifyData.success) {
                    alert("✅ Payment Successful and Verified!");
                } else {
                    alert("❌ Payment Verification Failed!");
                }
            },
        };

        const rzp1 = new Razorpay(options);
        rzp1.open();
    }
</script>