<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Kodhra</title>
    <link rel="stylesheet" href="/style/css/partials/Header.css" />
    <link rel="stylesheet" href="/style/css/ad_search.css" />
    <link rel="stylesheet" href="/style/css/Notification.css" />
    <link rel="stylesheet" href="/style/css/card.css" />
    <link rel="stylesheet" href="/style/css/index.css" />
    <link rel="stylesheet" href="/style/css/loader.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
    <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.css" />

    <!-- META Tags -->
    <meta name="title" content="Home | Kodhra" />
    <meta name="description"
        content="Kodhra is a modern code snippet manager designed for developers to save, organize, and search snippets instantly with cloud sync and a clean interface." />
    <meta name=" keywords"
        content="Kodhra, code snippet manager, code storage, developer tools, programming snippets, save code, organize code, code search, web app for developers, cloud snippet manager, codewithajoydas, ajoy das" />
    <meta name="language" content="" />
    <meta name="revisit-after" content="3" />

    <!-- Robot Control Tags -->
    <meta name="robots" content="index, follow" />

    <!-- Advanced META Tags -->
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://kodhra.codewithajoydas.live/" />

    <!-- Social Facebook/Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kodhra.codewithajoydas.live/" />
    <meta property="og:title" content="Home | Kodhra" />
    <meta property="og:description" content="Kodhra is a modern code snippet
    manager designed for developers to save, organize, and search snippets
    instantly with cloud sync and a clean interface."" />
    <meta
      property=" og:image" content="https://kodhra.codewithajoydas.live/icons/icon-512.png" />

    <!-- Social Twitter Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://kodhra.codewithajoydas.live/" />
    <meta property="twitter:title" content="Home | Kodhra" />
    <meta property="twitter:description" content="Kodhra is a modern code
    snippet manager designed for developers to save, organize, and search
    snippets instantly with cloud sync and a clean interface."" />
    <meta
      property=" twitter:image" content="https://kodhra.codewithajoydas.live/icons/icon-512.png" />

    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
    <link rel="preload" href="/gEzG0w1WVY.lottie" as="fetch" crossorigin="anonymous" />
    <link rel="manifest" href="manifest.json" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        window.USER_ID = "<%= userId %>";
    </script>
</head>

<body>
    <%- include("partials/loader.ejs") %>
        <div class="content">
            <%- include("partials/header", {appVersion}) %>
                <div class="container">
                    <%- include("partials/sidebar", { navigation: 'home' }) %>
                        <main>
                            <div id="cards" style="display: table;">
                                <%- include("partials/cards.ejs") %>
                            </div>
                        </main>
                </div>
        </div>

        <div id="context_menu" style="
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 1000000;
        width: 200px;
      ">
            <ul id="context_menu_list"></ul>
        </div>

        <div class="networkInfo" style="display: none">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-info-icon lucide-info">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M12 16v-4" />
                    <path d="M12 8h.01" />
                </svg></span>

            <span id="networkInfo"></span>
        </div>

        <script src="\scripts\home.js"></script>
        <script src="\scripts\shortcut.js"></script>
        <script src="\scripts\index.js"></script>
        <script src="\scripts\context_menu.js"></script>
        <script src="\scripts\Notification.js"></script>
        <script src="\scripts\ad_search.js"></script>
        <script src="\scripts\isonline.js"></script>
        <script src="\scripts\header.js"></script>
        <script src="\scripts\searchFunction.js"></script>
        <script src="\scripts\collapse.js"></script>
        <script src="\scripts\saveDraft.js"></script>
        <script src="\scripts\getAllDraft.js"></script>

        <script>
            async function getdata() {
                const res = await fetch("/a", { credentials: "include" });
                const data = await res.json();

                const date = new Date(data.lastActive);
                const formatted = date.toLocaleString();

                document.getElementById("lastActive").textContent = formatted;
                console.log(formatted);
            }

            getdata();
            setInterval(async () => {
                let res = await fetch("/lastactive", { credentials: "include" });
                let data = await res.json();
                console.log(data.t);
                getdata();
            }, 1000);
        </script>

        <script>
            const vp = document.querySelector(".vp");
            async function DuplicateCount() {
                const res = await fetch("/card/validation");
                const data = await res.json();
                vp.innerHTML = `<span title="Duplicate Count">${data.dupCount}</span> / <span title="Total Count">${data.totalCount}</span>`;
            }
            DuplicateCount();
        </script>
</body>

</html>