<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Followers | Kodhra - Code Snippet Manager</title>
    <link rel="stylesheet" href="/style/css/partials/Header.css" />
    <link rel="stylesheet" href="/style/css/ad_search.css" />
    <link rel="stylesheet" href="/style/css/Notification.css" />
    <link rel="stylesheet" href="/style/css/index.css" />
    <link rel="stylesheet" href="/style/css/chip.css" />
    <link rel="stylesheet" href="/style/css/card.css" />
    <link rel="stylesheet" href="/style/css/loader.css" />
    <link rel="stylesheet" href="/style/css/folder.css" />
    <link rel="stylesheet" href="/style/css/toast.css" />
    <link rel="stylesheet" href="/style/css/followers.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
    <script src="\scripts\shortcut.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.css"
    />
  </head>

  <body data-theme="light">
    <%- include("partials/loader.ejs")%>
    <div class="content">
      <%- include("partials/header.ejs")%>
      <div class="container">
        <%- include("partials/sidebar.ejs", { navigation: 'lan' })%>
        <main style="height: calc(100vh - 70px)">
          <div class="page_title" onclick="collapse(this)">
            <span class="down"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-down-icon lucide-chevron-down"
              >
                <path d="m6 9 6 6 6-6" />
              </svg>
            </span>
            Followers Section
          </div>
          <ul class="followers" style="margin: 10px">
            <% followers.forEach(follower=> { %>
            <li
              class="follower"
              onclick="window.location.assign('/profile/<%= follower.userName %>')"
            >
              <div class="avator" style="position: relative">
                <img
                  src="<%= follower.userImage %>"
                  width="40px"
                  height="40px"
                />
                <div
                  class="menu_top"
                  style="position: absolute; top: 5px; right: 5px"
                  data-contextmenu="true"
                  data-menus="report, block,  share_profile, mute"
                  data-isblocked="<%= userInfo.blockedUsers.includes(follower._id) %>"
                  data-currentid="<%= userInfo._id %>"
                  data-targetid="<%= follower._id %>"
                  data-id="<%= follower._id %>"
                  onclick="openContextMenu(event)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"
                  >
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                </div>
              </div>
              <div class="userDetails">
                <span
                  class="userName"
                  style="
                    font-weight: bold;
                    text-transform: capitalize;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    -webkit-box-orient: vertical;
                    display: -weblkit-box;
                  "
                >
                  <%= follower.userName %>
                </span>
                <span class="goodName" style="font-size: small; color: gray">
                  <%= follower.goodName %>
                </span>
                <span
                  style="
                    font-size: x-small;
                    color: gray;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 5px;
                  "
                >
                  <% if (userInfo.followers.map(id=>
                  id.toString()).includes(follower._id.toString())) { %>
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-user-round-check-icon lucide-user-round-check"
                    >
                      <path d="M2 21a8 8 0 0 1 13.292-6" />
                      <circle cx="10" cy="8" r="5" />
                      <path d="m16 19 2 2 4-4" />
                    </svg>
                    Is one of your followers
                  </span>
                  <% } %>
                </span>
              </div>

            <div class="btns">
                <% const isFollowing=userInfo.following .map(id=> id.toString())
                    .includes(follower._id.toString());
            
                    const isSelf = follower._id.toString() === userInfo.id.toString();
                    %>
            
                    <% if (isFollowing) { %>
                        <button class="unfollow" style="width: 100%; background: var(--color); color: var(--bg-color);" <%=isSelf
                            ? 'disabled' : '' %>
                            onclick="unfollow('<%= follower._id %>')"
                                >
                                Unfollow
                        </button>
                        <% } else { %>
                            <button class="follow" style="width: 100%; background: var(--color); color: var(--bg-color);" <%=isSelf
                                ? 'disabled' : '' %>
                                onclick="follow('<%= follower._id %>')"
                                    >
                                    Follow
                            </button>
                            <% } %>
            </div>

            </li>

            <% }); %>
          </ul>
        </main>

        <div
          id="context_menu"
          style="
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            z-index: 1000000;
            width: 200px;
          "
        >
          <ul id="context_menu_list"></ul>
        </div>
        <div class="networkInfo" style="display: none">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-info-icon lucide-info"
            >
              <circle cx="12" cy="12" r="10" />
              <path d="M12 16v-4" />
              <path d="M12 8h.01" /></svg></span>

          <span id="networkInfo"></span>
        </div>
      </div>
    </div>

    <script src="/scripts/ad_search.js"></script>
    <script src="/scripts/Fab.js"></script>
    <script src="/scripts/Notification.js"></script>
    <script src="/scripts/searchFunction.js"></script>
    <script src="/scripts/context_menu.js"></script>
    <script src="\scripts\isonline.js"></script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/collapse.js"></script>
    <script>
      document.querySelectorAll(".menu_top").forEach((ele) => {
        ele.addEventListener("click", (e) => {
          e.stopPropagation();
        });
      });
    </script>
  </body>
</html>
