<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile of <%= user.goodName %> | Code Snippet Manager</title>

  <meta name="description" content="<%= user.bio || user.goodName %>">

  <meta name="keywords" content="
  developer profile,
  programmer profile,
  code snippets profile,
  developer portfolio snippets,
  shared code snippets,
  kodhra user profile,
  developer knowledge base
  ">

  <meta name="author" content="Ajoy Das">
  <meta name="language" content="English">
  <meta name="distribution" content="global">
  <meta name="rating" content="general">
  <meta name="revisit-after" content="7 days">

  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta name="googlebot" content="index, follow">

  <link rel="canonical" href="https://kodhra.codewithajoydas.live/profile">

  <!-- Open Graph -->
  <meta property="og:type" content="profile">
  <meta property="og:site_name" content="Kodhra">
  <meta property="og:url" content="https://kodhra.codewithajoydas.live/profile">
  <meta property="og:title" content="Developer Profile on Kodhra">
  <meta property="og:description"
    content="Explore a developer’s shared code snippets, notebooks, and reusable programming logic on Kodhra.">
  <meta property="og:image" content="https://kodhra.codewithajoydas.live/icons/icon-512-maskable.png">
  <meta property="og:image:width" content="512">
  <meta property="og:image:height" content="512">
  <meta property="og:image:alt" content="Kodhra Developer Profile">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Developer Profile – Kodhra">
  <meta name="twitter:description" content="Discover a developer’s shared code snippets and notebooks on Kodhra.">
  <meta name="twitter:image" content="https://kodhra.codewithajoydas.live/icons/icon-512-maskable.png">

  <!-- App / UI -->
  <meta name="application-name" content="Kodhra">
  <meta name="theme-color" content="#0f172a">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
  <link rel="stylesheet" href="/style/css/partials/Header.css" />
  <link rel="stylesheet" href="/style/css/ad_search.css" />
  <link rel="stylesheet" href="/style/css/Notification.css" />
  <link rel="stylesheet" href="/style/css/chip.css" />
  <link rel="stylesheet" href="/style/css/card.css" />
  <link rel="stylesheet" href="/style/css/loader.css" />
  <link rel="stylesheet" href="/style/css/profile.css" />
  <link rel="stylesheet" href="/style/css/toast.css" />
  <link rel="stylesheet" href="/style/css/index.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="\scripts\shortcut.js"></script>
  <meta name="id" content="<%= user._id %>" />
  <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  <script src="https://unpkg.com/colorthief/dist/color-thief.umd.js"></script>

</head>

<body data-theme="light">
  <%- include('partials/loader.ejs') %>
    <div class="content">
      <%- include('partials/header')%>
        <div class="container">
          <%- include('partials/sidebar', {navigation: 'account' })%>
            <main style="height: calc(100vh - 70px)">
              <div class="top-section" style="position: relative">
                <div class="profile-image" style="position: relative;">
                  <img src="<%= user.userImage %>" alt="profile image of user" id="profileImage" crossOrigin="anonymous"
                    onerror="this.src='https://static.vecteezy.com/system/resources/previews/013/360/247/non_2x/default-avatar-photo-icon-social-media-profile-sign-symbol-vector.jpg'" />
                  <% if(String(user._id)===String(userId)){%>
                    <label for="profile_image_edit">
                      <div class="edit_profile_picture"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil">
                          <path
                            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                          <path d="m15 5 4 4" />
                        </svg>
                      </div>
                      <input type="file" id="profile_image_edit" accept="image/*" hidden name="profilePic">
                    </label>
                    <%}%>
                </div>
                <div class="user-info">
                  <div class="user-name" style="margin-block: 10px">
                    <h2 style="margin: 0">
                      <%= user.goodName %>
                    </h2>
                    <span style="font-size: 15px; text-transform: capitalize; margin: 0">
                      <%= user.userName%>
                    </span>
                  </div>

                  <% if (user.bio) { %>
                    <div class="bio" style="margin-block: 10px">
                      <p class="add_bio" data-iam="<%= String(user._id)===String(userId) %>" style="cursor: pointer">
                        <%= user.bio %>
                      </p>
                    </div>
                    <% } else { %>
                      <% if(String(user._id)===String(userId)){%>
                        <a href="" class="add_bio ab" data-tooltip="Click to Add Bio"
                          data-iam="<%= String(user._id)===String(userId) %>" style="
                        text-decoration: underline;
                        color: rgb(0, 47, 255);
                        font-size: small;
                        text-transform: lowercase;
                      ">
                          add Bio
                        </a>
                        <%}%>
                          <% } %>

                            <!-- <div class="address" style="margin-block: 5px; text-transform: capitalize"
                          style="margin-block: 10px">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-map-pin-icon lucide-map-pin">
                            <path
                              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                            <circle cx="12" cy="10" r="3" />
                          </svg>
                          <%= user.address ?? "Address not found" %>
                        </div> -->
                            <div class="links">

                              <% if (user.links && user.links.length> 0) { %>

                                <% user.links.slice(0, 4).forEach(function(link) { %>
                                  <a href="<%= link.url %>" target="_blank" data-tooltip="<%= link.url %>" tabindex="0"
                                    data-menus="delete" data-contextMenu="true" data-id="<%= link._id %>"
                                    data-mtype="link">

                                    <img src="https://cdn.simpleicons.org/<%= link.platform %>"
                                      alt="<%= link.platform %>" width="20"
                                      onerror="this.src='https://images.icon-icons.com/2550/PNG/512/link_icon_152591.png'" />
                                  </a>
                                  <% }); %>

                                    <% if (String(user._id)===String(userId)) { %>
                                      <a href="javascript:void(0)" class="openlink" data-tooltip="Add New Link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"
                                          class="lucide lucide-plus-icon">
                                          <path d="M5 12h14" />
                                          <path d="M12 5v14" />
                                        </svg>
                                      </a>
                                      <% } %>
                                        <% } else { %>
                                          <% if(String(user._id)===String(userId)){%>
                                            <a class="add-links-btn openlink" data-tooltip="Add New Link"
                                              style="font-size: smaller; width: 100%; background: none; cursor: pointer; color: rgba(43,43,224,0.966);">
                                              <span style="font-size: large;">+</span> Add Links
                                            </a>
                                            <%} %>

                                              <% } %>

                            </div>


                            <% if(String(user._id)!==String(userId)){%>
                              <div class="btns">
                                <button class="follow" onclick="follow('<%= user._id %>', this)">
                                  <% if(user.followers.includes(userId)) { %>Unfollow
                                    <% } else { %>Follow
                                      <% } %>
                                </button>
                                <button class="contact" style="color: var(--bg-color);">Get In Touch</button>
                              </div>
                              <%}%>
                </div>
                <div class="counts">
                  <div class="followers" style="cursor: pointer;"
                    onclick="window.location.href = '/followers/<%= user._id%>'">
                    <span>Followers</span>
                    <span>
                      <%= user.followers.length ?? 0%>
                    </span>
                  </div>
                  <div class="following" style="cursor: pointer;"
                    onclick="window.location.href = '/following/<%= user._id%>'">
                    <span>Following</span>
                    <span class="followingcount">
                      <%= user.following.length ?? 0%>
                    </span>
                  </div>
                  <div class="cards" style="cursor: pointer;"
                    onclick="window.location.href = `/cards/user/<%= user._id%>`">
                    <span>Snippets</span>
                    <span>
                      <%= cardlen??0%>
                    </span>
                  </div>
                </div>
                <div class="options">
                  <% if (String(user._id)===String(userId)) { %>
                    <% if(user.visibility==="private" ){%>
                      <div class="visibility" onclick="visibility('<%= user._id%>')"
                        data-tooltip="This account is private">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="lucide lucide-lock-icon lucide-lock">
                          <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
                          <path d="M7 11V7a5 5 0 0 1 10 0v4" />
                        </svg>
                      </div>
                      <%}%>
                        <div class="edit_profile" data-tooltip="Profile Settings"
                          onclick="window.location.href = '/settings#profile'">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-user-round-cog-icon lucide-user-round-cog">
                            <path d="m14.305 19.53.923-.382" />
                            <path d="m15.228 16.852-.923-.383" />
                            <path d="m16.852 15.228-.383-.923" />
                            <path d="m16.852 20.772-.383.924" />
                            <path d="m19.148 15.228.383-.923" />
                            <path d="m19.53 21.696-.382-.924" />
                            <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                            <path d="m20.772 16.852.924-.383" />
                            <path d="m20.772 19.148.924.383" />
                            <circle cx="10" cy="8" r="5" />
                            <circle cx="18" cy="18" r="3" />
                          </svg>
                        </div>
                        <%}%>
                          <% if(user.visibility==="public" ){%>
                            <div class="share_profile" data-tooltip="Share Profile">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-share2-icon lucide-share-2">
                                <circle cx="18" cy="5" r="3" />
                                <circle cx="6" cy="12" r="3" />
                                <circle cx="18" cy="19" r="3" />
                                <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
                                <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
                              </svg>
                            </div>
                            <%}%>
                </div>
              </div>

              <div class="analytics">
                <a href="/cards/user/<%= user._id%>"><span><svg xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-square-dashed-bottom-code-icon lucide-square-dashed-bottom-code">
                      <path d="M10 9.5 8 12l2 2.5" />
                      <path d="M14 21h1" />
                      <path d="m14 9.5 2 2.5-2 2.5" />
                      <path d="M5 21a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2" />
                      <path d="M9 21h1" />
                    </svg></span><span>See All Snippets</span></a>
                <a href="/fav/user/<%= user._id%>"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" class="lucide lucide-star-icon lucide-star">
                      <path
                        d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
                    </svg></span><span>See All Favorites</span></a>
                <a href="/folder/user/<%= user._id%>"><span><svg xmlns="http://www.w3.org/2000/svg" width="24"
                      height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder">
                      <path
                        d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
                    </svg></span><span>See All Folders</span></a>
              </div>


              <div class="share_profile_container">
                <div style="width: 100%; display: flex;justify-content: space-between;align-items: center;">
                  <div class="img" style="display: flex;justify-content: center;align-items: center;gap: 10px;">
                    <img src="<%=user.userImage%>" alt="profile image of user" data-tooltip="Profile"
                      onerror="this.src='https://static.vecteezy.com/system/resources/previews/013/360/247/non_2x/default-avatar-photo-icon-social-media-profile-sign-symbol-vector.jpg'"
                      width="40px" height="40px" style="border-radius: 50%;" />
                    <span>
                      <%=user.userName%>
                    </span>
                  </div>
                  <span class="downloadQr" onclick="downloadQr()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-arrow-big-down-dash-icon lucide-arrow-big-down-dash">
                      <path
                        d="M15 11a1 1 0 0 0 1 1h2.939a1 1 0 0 1 .75 1.811l-6.835 6.836a1.207 1.207 0 0 1-1.707 0L4.31 13.81a1 1 0 0 1 .75-1.811H8a1 1 0 0 0 1-1V9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1z" />
                      <path d="M9 4h6" />
                    </svg>
                  </span>
                </div>
                <span style="font-size: smaller; color: gray;text-align: center;">Scan QR Code</span>
                <div class="qr"></div>
                <label for="copy">
                  <input type="url" name="copy" id="copy"
                    value="https://kodhra.codewithajoydas.live/profile/<%=user.userName%>">
                  <span class="copy">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-copy-icon lucide-copy">
                      <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                      <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" />
                    </svg>
                  </span>
                </label>
              </div>

              <% if(card.length !==0){%>
                <div class="page_title" onclick="collapse(this)">
                  <span class="down"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-chevron-down-icon lucide-chevron-down">
                      <path d="m6 9 6 6 6-6" />
                    </svg></span>
                  Popular Snippets
                </div>
                <div id="cards" class="cardsasd"><%- include("partials/cards")%></div>
                <% }else{%>
                  <div class="nodata"
                    style="display: flex; justify-content: center;align-items: center; height: 200px;">
                    <%- include("partials/no-data.ejs")%>
                  </div>
                  <%}%>

                    <% if(String(user._id)===String(userId)){%>
                      <div class="add-biography">
                        <div class="bio-header" style="
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                padding-block: 10px;
              ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-scan-face-icon lucide-scan-face">
                            <path d="M3 7V5a2 2 0 0 1 2-2h2" />
                            <path d="M17 3h2a2 2 0 0 1 2 2v2" />
                            <path d="M21 17v2a2 2 0 0 1-2 2h-2" />
                            <path d="M7 21H5a2 2 0 0 1-2-2v-2" />
                            <path d="M8 14s1.5 2 4 2 4-2 4-2" />
                            <path d="M9 9h.01" />
                            <path d="M15 9h.01" />
                          </svg>
                          Enter Your Bio
                        </div>
                        <label for="bio">
                          <textarea name="" id="biodata" rows="4" style="padding: 10px" placeholder="Enter Your Bio">
<%= user.bio??""%></textarea>
                          <div class="len" style="text-align: end; font-size: smaller; font-weight: 400">
                            0 / 205
                          </div>
                        </label>
                        <button id="save_bio" style="
                background: var(--color);
                color: var(--bg-color);
                width: 150px;
              ">
                          Save
                        </button>
                      </div>
                      <%} %>

                        <div class="add-links">
                          <div class="links-header" style="
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                padding-block: 10px;
                font-weight: bolder;
              ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="lucide lucide-link-icon lucide-link">
                              <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                              <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                            </svg>
                            Add Social Links
                          </div>
                          <hr />
                          <div class="links-inputs">
                            <label for="link1" data-contextMenu="true" data-menus="delete">
                              <!-- <span>
                      <span>
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077" />
                        </svg>
                      </span>
                      <span>Instagram</span>
                    </span> -->
                              <div class="url">
                                <span>https://</span>
                                <input type="url" name="link1" id="link1" />
                                <div class="delete" style="display: none">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                                    <path d="M3 6h18" />
                                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                  </svg>
                                </div>
                              </div>
                            </label>
                            <label for="link2">
                              <!-- <span><span><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z" />
                        </svg></span>
                      <span>Facebook</span></span> -->
                              <div class="url">
                                <span>https://</span>
                                <input type="url" name="link2" id="link2" />
                                <div class="delete" style="display: none">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                                    <path d="M3 6h18" />
                                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                  </svg>
                                </div>
                              </div>
                            </label>
                            <label for="link3">
                              <!-- <span>
                      <span>
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                        </svg>
                      </span>
                      <span>Github</span>
                    </span> -->
                              <div class="url">
                                <span>https://</span>
                                <input type="url" name="link3" id="link3" />
                                <div class="delete" style="display: none">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                                    <path d="M3 6h18" />
                                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                  </svg>
                                </div>
                              </div>
                            </label>
                            <label for="link4">
                              <!-- <span>
                      <span>
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                        </svg>
                      </span>
                      <span>Github</span>
                    </span> -->
                              <div class="url">
                                <span>https://</span>
                                <input type="url" name="link4" id="link4" />
                                <div class="delete" style="display: none">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash">
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                                    <path d="M3 6h18" />
                                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                  </svg>
                                </div>
                              </div>
                            </label>
                            <div class="actions">
                              <button id="save_links" onclick="saveLinks(event)" style="
                    background: var(--color);
                    color: var(--bg-color);
                    width: 100%;
                    margin-block: 10px;
                    border-radius: 10px;
                  ">
                                Save
                              </button>
                            </div>
                          </div>
                        </div>

                        <%- include("partials/fab.ejs")%>
            </main>
            <div class="networkInfo" style="display: none">
              <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-info-icon lucide-info">
                  <circle cx="12" cy="12" r="10" />
                  <path d="M12 16v-4" />
                  <path d="M12 8h.01" />
                </svg></span>

              <span id="networkInfo"></span>
            </div>
        </div>
        <div id="context_menu" style="
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          z-index: 1000000;
          width: 200px;
        ">
          <ul id="context_menu_list"></ul>
        </div>
    </div>

    <script>
      window.onload = () => {
        const profile_image = document.querySelector(".profile-image");
        const profileImage = document.getElementById("profileImage");

        if (profileImage.complete) {
          applyGradient();
        } else {
          profileImage.addEventListener("load", applyGradient);
        }

        function applyGradient() {
          const colorThief = new ColorThief();
          const colors = colorThief.getPalette(profileImage, 5);

          const colorStrings = colors.map(
            (c) => `rgb(${c[0]}, ${c[1]}, ${c[2]})`
          );

          profile_image.style.background = `linear-gradient(
      40deg,
      ${colorStrings[0]},
      ${colorStrings[1]},
      ${colorStrings[2]},
      ${colorStrings[3]},
      ${colorStrings[4]}
    )`;
        }
      };
    </script>
    <script>
      let addlinks = document.querySelector(".add-links");
      const addBioBtn = document.querySelector(".add_bio");
      const biobtn = document.querySelector(".ab");
      const bioEditor = document.querySelector(".add-biography");
      const bioInput = document.getElementById("biodata");
      const counter = document.querySelector(".len");
      const saveBtn = document.getElementById("save_bio");
      const links = document.querySelector(".add-links-btn");
      const openLink = document.querySelector(".openlink");
      const ID = document.querySelector("meta[name='id']").content;
      const DATA = atob(localStorage.getItem("data"));
      const USER = JSON.parse(DATA);

      async function follow(id, element) {
        element.disabled = true;
        console.log(id)
        try {
          const res = await fetch(`/profile/follow/${id}`, {
            method: "post",
            headers: {
              'Content-Type': 'application/json',
            },
            credentials: "include",
          });
          if (res.ok) {
            element.disabled = false;
            if (element.innerText === "Follow") {
              element.innerText = "Unfollow";
              document.querySelector(".followingcount").innerText = parseInt(document.querySelector(".followingcount").innerText) + 1
            } else {
              element.innerText = "Follow";
              document.querySelector(".followingcount").innerText = parseInt(document.querySelector(".followingcount").innerText) - 1
            }
            const data = await res.json();
            new Toastmaster({
              title: "Success",
              message: "You are now following ",
              type: "success",
              delay: 5000,
            }).showNotification();
          } else {
            const data = await res.json();
            new Toastmaster({
              title: "Error",
              message: data.message,
              type: "error",
              delay: 5000,
            }).showNotification();
          }
        } catch (error) {
          new Toastmaster({
            title: "Error",
            message: error.message,
            type: "error",
            delay: 5000,
          })
        }
      }
    </script>

    <script>
      bioEditor?.addEventListener("click", (e) => {
        e.stopPropagation();
      });
      addBioBtn?.addEventListener("click", (e) => {
        e.stopPropagation();
      });
      if (bioEditor) {
        window.addEventListener("click", (e) => {
          bioEditor.classList.remove("active");
        });
      }
      addBioBtn?.addEventListener("click", (e) => {
        e.preventDefault();
        const iam = e.target.closest("[data-iam]").dataset.iam === "true";
        if (iam) {
          bioEditor.classList.add("active");
        }
      });

      const len = bioInput?.value.length;
      if (counter) {
        counter.innerText = `${len} / 205`;
        counter.style.color = len > 205 ? "red" : "";
      }
      if (saveBtn) saveBtn.disabled = len < 10 || len > 205;
      bioInput?.addEventListener("input", () => {
        const len = bioInput.value.length;
        if (counter) {
          counter.innerText = `${len} / 205`;
          counter.style.color = len > 205 ? "red" : "";
        }
        if (saveBtn) saveBtn.disabled = len < 10 || len > 205;
      });

      if (saveBtn) saveBtn.disabled = true;

      saveBtn?.addEventListener("click", async (e) => {
        e.preventDefault();

        const bio = bioInput.value.trim();
        const len = bio.length;

        if (len < 10) {
          return new Toastmaster({
            title: "Error",
            message: "Bio must be at least 10 characters.",
            type: "error",
            delay: 4000,
          }).showNotification();
        }

        if (len > 205) {
          return new Toastmaster({
            title: "Error",
            message: "Bio must not exceed 205 characters.",
            type: "error",
            delay: 4000,
          }).showNotification();
        }

        saveBtn.disabled = true;
        saveBtn.innerText = "Saving...";

        const res = await fetch(`/profile/update`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ bio }),
          credentials: "include",
        });

        const data = await res.json();

        if (res.ok) {
          new Toastmaster({
            title: "Success",
            message: "Bio Updated Successfully",
            type: "success",
            delay: 3000,
          }).showNotification();

          bioEditor.classList.remove("active");
        } else {
          new Toastmaster({
            title: "Error",
            message: data.message,
            type: "error",
            delay: 3000,
          }).showNotification();
        }

        saveBtn.disabled = false;
        saveBtn.innerText = "Save";
      });
    </script>

    <script>
      const addLinkss = async () => {
        return fetch("/a")
          .then((res) => res.json())
          .then((data) => data);
      };

      const inputs = [
        document.getElementById("link1"),
        document.getElementById("link2"),
        document.getElementById("link3"),
        document.getElementById("link4"),
      ];

      addLinkss().then((data) => {
        for (let i = 0; i < data.links.length && i < 4; i++) {
          inputs[i].value = data.links[i].url;
          inputs[i].parentElement.querySelector(".delete").style.display =
            "flex";
          inputs[i].parentElement.querySelector(".delete").dataset.id =
            data.links[i]._id;
        }
      });

      document.querySelectorAll(".delete").forEach((ele) => {
        ele.addEventListener("click", (e) => {
          e.stopPropagation();
          deleteFolder("link", e.target.closest("[data-id]").dataset.id);
        });
      });

      const regEx =
        /(http(s)?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-z]{2,10}\b([-a-zA-Z0-9@:%_+.~#?&//=]*)/;

      inputs.forEach((input) => {
        input.addEventListener("input", () => {
          const label = input.closest(".url");
          const isValid = regEx.test(input.value);

          label.style.border = "none";
          label.style.outline = `2px solid ${isValid ? "green" : "red"}`;
          label.style.outlineOffset = "2px";
          label.style.borderRadius = "6px";
        });
      });

      async function saveLinks(e) {
        e.stopPropagation();

        const finalLinks = inputs
          .map((input) => input.value.trim())
          .filter((link) => link !== "");

        if (finalLinks.length === 0) {
          return new Toastmaster({
            title: "Error",
            message: "Please add at least one link",
            type: "error",
            delay: 3000,
          }).showNotification();
        }

        const res = await fetch(`/profile/updateLinks`, {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "include",
          body: JSON.stringify({ links: finalLinks }),
        });

        if (res.ok) {
          new Toastmaster({
            title: "Success",
            message: "Links Updated Successfully",
            type: "success",
            delay: 3000,
          }).showNotification();
        } else {
          new Toastmaster({
            title: "Error",
            message: "Something went wrong",
            type: "error",
            delay: 3000,
          }).showNotification();
        }

        addlinks.classList.remove("active");
      }

      const openlink = document.querySelector(".openlink");
      openlink?.addEventListener("click", (e) => {
        e.stopPropagation();
        addlinks.classList.add("active");
      });

      window.addEventListener("click", (e) => {
        if (!addlinks.contains(e.target)) addlinks.classList.remove("active");
      });
    </script>

    <script>
      async function visibility(id) {
        const res = await fetch(`/profile/update/`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ isPrivate: "public" }),
          credentials: "include",
        })
        const data = await res.json()
        if (res.ok) {
          new Toastmaster({
            title: "Success",
            message: "Visibility Updated Successfully",
            type: "success",
            delay: 3000,
          }).showNotification();
        } else {
          new Toastmaster({
            title: "Error",
            message: "Someting Happend Wrong!",
            type: "error",
            delay: 3000,
          }).showNotification()
        }
      }
      document.querySelector(".share_profile").addEventListener("click", async (e) => {
        e.preventDefault()
        const qr = document.querySelector(".qr");
        const generetqr = await fetch(`https://quickchart.io/qr?text=https://kodhra.codewithajoydas.live/profile/<%=user.userName%>&size=200&format=svg`).then(res => res.text())
        qr.innerHTML = generetqr;
        qr.style.borderRadius = "10px";
        document.querySelector(".share_profile_container").classList.toggle("active");
      })

      window.addEventListener("click", (e) => {
        const shareBox = document.querySelector(".share_profile_container");
        if (!e.target.closest(".share_profile_container")) {
          shareBox.classList.remove("active");
        }
      });

      document.querySelector(".copy").addEventListener("click", () => {
        document.querySelector(".copy").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>`
        navigator.clipboard.writeText("https://kodhra.codewithajoydas.live/profile/<%=user.userName%>")
        new Toastmaster({
          title: "Success",
          message: "Copied Successfully",
          type: "success",
          delay: 3000,
        }).showNotification();
        const timeout = setTimeout(() => {
          document.querySelector(".copy").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy-icon lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>`
          clearTimeout(timeout)
        }, 3000)
      })
    </script>



    <script>
      function downloadQr() {
        const qrDiv = document.querySelector(".share_profile_container");
        html2canvas(qrDiv).then((canvas) => {
          const link = document.createElement("a");
          link.download = "share.png";
          link.href = canvas.toDataURL("image/png");
          link.click();
        })
      }
    </script>

    <script>

      document.getElementById("profile_image_edit")?.addEventListener("change", (e) => {
        const file = document.getElementById("profile_image_edit").files[0];
        const formData = new FormData();
        formData.append("profilePic", file);

        fetch("/profile/updateprofile", {
          method: "POST",
          body: formData,
          credentials: "include",
        }).then((res) => {
          if (res.ok) {
            new Toastmaster({
              title: "Success",
              message: "Profile Picture Updated Successfully",
              type: "success",
              delay: 3000,
            }).showNotification();
            location.reload();
          } else {
            new Toastmaster({
              title: "Error",
              message: "Something went wrong",
              type: "error",
              delay: 3000,
            }).showNotification();
          }
        })

      })

    </script>


    <script src="/scripts/ad_search.js"></script>
    <script src="/scripts/Fab.js"></script>
    <script src="/scripts/Notification.js"></script>
    <script src="/scripts/searchFunction.js"></script>
    <script src="\scripts\isonline.js"></script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/Tooltips.js"></script>
    <script src="/scripts/context_menu.js"></script>
    <script src="/scripts/collapse.js"></script>
</body>

</html>