<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile of <%= user.goodName %> | Code Snippet Manager</title>
  <link rel="stylesheet" href="/style/css/partials/Header.css">
  <link rel="stylesheet" href="/style/css/ad_search.css">
  <link rel="stylesheet" href="/style/css/Notification.css">
  <link rel="stylesheet" href="/style/css/index.css">
  <link rel="stylesheet" href="/style/css/chip.css">
  <link rel="stylesheet" href="/style/css/card.css">
  <link rel="stylesheet" href="/style/css/profile.css">
  <link rel="stylesheet" href="/style/css/toast.css">
  <script src="https://unpkg.com/colorthief/dist/color-thief.umd.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <meta name="id" content="<%= user._id %>">
  <script src="\scripts\shortcut.js"></script>

</head>

<body data-theme="light">
  <div class="content">
    <%- include('partials/header')%>
      <div class="container">
        <%- include('partials/sidebar', {navigation: 'account' })%>
          <main>
            <div class="top-section" style="position: relative;">
              <div class="profile-image">
                <img src="<%= user.userImage %>" alt="profile image of user" id="profileImage" crossOrigin="anonymous"
                  onerror="this.src='https://static.vecteezy.com/system/resources/previews/013/360/247/non_2x/default-avatar-photo-icon-social-media-profile-sign-symbol-vector.jpg'">
              </div>
              <div class="user-info">
                <div class="user-name" style="margin-block: 10px;">
                  <h2 style="margin: 0;">
                    <%= user.goodName %>
                  </h2>
                  <span style="font-size: 15px; text-transform: capitalize; margin: 0;">
                    <%= user.userName%>
                  </span>
                </div>
                <div class="address" style="margin-block: 5px; text-transform: capitalize;" style="margin-block: 10px;">

                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-map-pin-icon lucide-map-pin">
                    <path
                      d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                    <circle cx="12" cy="10" r="3" />
                  </svg>
                  <%= user.address ?? "Address not found" %>
                </div>
               
                <div class="bio" style="margin-block: 10px;">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cupiditate temporibus iusto
                    hic rerum odit.</p>
                </div>
                <div class="btns">
                  <button class="follow" onclick="follow('<%= user._id %>')">Follow</button>
                  <button class="contact">Get In Touch</button>
                </div>
              </div>
              <div class="counts">
                <div class="followers">
                  <span>Followers</span>
                  <span>
                    <%= user.followers.length ?? 0%>
                  </span>
                </div>
                <div class="following">
                  <span>Following</span>
                  <span>
                    <%= user.following.length ?? 0%>
                  </span>
                </div>
                <div class="cards">
                  <span>Snippets</span>
                  <span>
                    <%= cardlen??0%>
                  </span>
                </div>
              </div>
              <div class="options">
                <div class="visibility">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-lock-icon lucide-lock">
                    <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
                    <path d="M7 11V7a5 5 0 0 1 10 0v4" />
                  </svg>
                </div>
                <div class="edit_profile">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user-round-pen-icon lucide-user-round-pen">
                    <path d="M2 21a8 8 0 0 1 10.821-7.487" />
                    <path
                      d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                    <circle cx="10" cy="8" r="5" />
                  </svg>
                </div>
              </div>
            </div>

            <!-- <div class="update_profile">
              <div class="page_title">
                Update Profile
              </div>
              <div class="profile_img" style="display: flex; justify-content: center;align-items: center; border-radius: 50%; overflow: hidden;">
                <img src="<%= user.userImage %>" alt="" onerror="this.src = 'https://mdms.pkg3apdcl.com/medows/static/images/Logo1.png'" style="border-radius: 50%;">
              </div>
              <form action="">
                <label for="name">
                  <span>Name</span>
                  <input type="text" name="name" id="name">
                </label>
                <label for="bio">
                  <span>Bio</span>
                  <input type="text" name="bio" id="bio">
                </label>
                <label for="address">
                  <span>Address</span>
                  <input type="text" name="address" id="address">
                </label>
                <label for="zip">
                  <span>Zip Code</span>
                  <input type="text" name="zip" id="zip">
                </label>
              </form>
            </div> -->

          </main>
      </div>
  </div>

  <script src="/scripts/ad_search.js"></script>
  <script src="/scripts/Fab.js"></script>
  <script src="/scripts/Notification.js"></script>
  <script src="/scripts/searchFunction.js"></script>
  <script src="/scripts/context_menu.js"></script>
  <script src="\scripts\isonline.js"></script>
  <script>
    window.onload = () => {
      const profile_image = document.querySelector(".profile-image");
      const profileImage = document.getElementById("profileImage");

      if (profileImage.complete) {
        applyGradient();
      } else {
        profileImage.addEventListener("load", applyGradient);
      }

      function applyGradient() {
        const colorThief = new ColorThief();
        const colors = colorThief.getPalette(profileImage, 5);

        const colorStrings = colors.map(c => `rgb(${c[0]}, ${c[1]}, ${c[2]})`);

        profile_image.style.background = `linear-gradient(
      40deg,
      ${colorStrings[0]},
      ${colorStrings[1]},
      ${colorStrings[2]},
      ${colorStrings[3]},
      ${colorStrings[4]}
    )`;
      }
    };
  </script>


  <!-- AUTHENTICATION -->

  <script>
    const ID = document.querySelector("meta[name='id']").content;
    const DATA = atob(localStorage.getItem("data"));
    const USER = JSON.parse(DATA);
    try {
      if (USER._id !== ID) {
        let btns = document.querySelector(".btns");
        btns.style.display = "flex";
      } else {
        let btn = document.querySelector(".btns");
        btn.style.display = "none";
      }
    } catch (error) {
      console.log(error)
    }


    async function follow(id) {
      try {
        const res = await fetch(`/profile/follow/${id}`, {
          method: "post",
          contentType: "application/json",
          credentials: "include",
        });

        if (res.ok) {
          const data = await res.json();
          console.log("Follow status updated:", data);
        } else {
          console.log("Something went wrong");
        }
      } catch (error) {
        console.log(error);
      }
    }

  </script>

  <!-- AUTHENTICATION PARTS-->


</body>

</html>