<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Universal Search | Find Code Snippets, Folders & Notes – Kodhra</title>
    
    <meta name="description"
      content="Search across all your code snippets, folders, and notebooks in one place. Kodhra universal search helps developers instantly find reusable code, logic, and notes without friction.">
    
    <meta name="keywords" content="
    universal search,
    developer search tool,
    search code snippets,
    search programming notes,
    developer productivity search,
    codebase search,
    snippet search engine,
    kodhra universal search
    ">
    
    <meta name="author" content="Ajoy Das">
    <meta name="language" content="English">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="revisit-after" content="1 day">
    
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="googlebot" content="index, follow">
    
    <link rel="canonical" href="https://kodhra.codewithajoydas.live/search">
    
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Kodhra">
    <meta property="og:url" content="https://kodhra.codewithajoydas.live/search">
    <meta property="og:title" content="Universal Developer Search – Kodhra">
    <meta property="og:description"
      content="Search snippets, folders, and notebooks instantly. Kodhra universal search keeps all your developer knowledge easy to find.">
    <meta property="og:image" content="https://kodhra.codewithajoydas.live/icons/icon-512-maskable.png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:image:alt" content="Kodhra Universal Search Interface">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Universal Search for Developers – Kodhra">
    <meta name="twitter:description"
      content="Find code snippets, notes, and folders instantly with Kodhra’s universal developer search.">
    <meta name="twitter:image" content="https://kodhra.codewithajoydas.live/icons/icon-512-maskable.png">
    
    <!-- App / UI -->
    <meta name="application-name" content="Kodhra">
    <meta name="theme-color" content="#0f172a">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
    <link rel="stylesheet" href="/style/css/partials/Header.css">
    <link rel="stylesheet" href="/style/css/ad_search.css">
    <link rel="stylesheet" href="/style/css/Notification.css">
    <link rel="stylesheet" href="/style/css/index.css">
    <link rel="stylesheet" href="/style/css/chip.css">
    <link rel="stylesheet" href="/style/css/card.css">
    <link rel="stylesheet" href="/style/css/folder.css">
    <link rel="stylesheet" href="/style/css/loader.css">
    <link rel="stylesheet" href="/style/css/searchBox.css">
    <link rel="stylesheet" href="/style/css/toast.css">
    <script src="\scripts\shortcut.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@2.3.5/dist/toaster.min.css">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>


</head>

<body data-theme="light">
    <%- include("partials/loader.ejs")%>
        <div class="content">
            <%- include("partials/header.ejs")%>
                <div class="container">
                    <%- include("partials/sidebar.ejs", { navigation: 'search' })%>
                        <main style="height: calc(100vh - 70px );">
                            <div class="searchResultsContainer" style="width: 100%;">
                                <h2 style="text-align: center; margin-block: 10px;">Search results will appear
                                    here
                                </h2>
                            </div>
                            <div class="page_title1"
                                style="margin: 10px; font-size: small; padding: 10px; display: flex;justify-content: start;align-items: center;gap: 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-earth-icon lucide-earth">
                                    <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
                                    <path
                                        d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
                                    <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
                                    <circle cx="12" cy="12" r="10" />
                                </svg> Universal Search
                            </div>
                            <div class="searchContainer">
                                <label for="searchBox">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-text-search-icon lucide-text-search">
                                        <path d="M21 5H3" />
                                        <path d="M10 12H3" />
                                        <path d="M10 19H3" />
                                        <circle cx="17" cy="15" r="3" />
                                        <path d="m21 19-1.9-1.9" />
                                    </svg>
                                    <input type="search" id="searchBox" placeholder="Enter search term">
                                </label>
                                <label for="userId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-user-round-search-icon lucide-user-round-search">
                                        <circle cx="10" cy="8" r="5" />
                                        <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                                        <circle cx="18" cy="18" r="3" />
                                        <path d="m22 22-1.9-1.9" />
                                    </svg>
                                    <input type="search" id="userId" placeholder="Search by user">
                                </label>
                                <label for="languagea">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-languages-icon lucide-languages">
                                        <path d="m5 8 6 6" />
                                        <path d="m4 14 6-6 2-3" />
                                        <path d="M2 5h12" />
                                        <path d="M7 2h1" />
                                        <path d="m22 22-5-10-5 10" />
                                        <path d="M14 18h6" />
                                    </svg>
                                    <input type="search" id="languagea" placeholder="Search by language">
                                </label>
                                <button disabled style="display: block !important;">Search</button>
                            </div>
                            <div class="searchResults" style="margin-top: 5px;">
                                <!-- Snippets -->
                                <div class="page_title" onclick="collapse(this)">
                                    <span class="down"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg></span>
                                    Snippets
                                </div>
                                <section>

                                    <div id="cards">
                                    </div>
                                    <div id="sentinalAA"
                                        style=" text-align: center; width: 100%; display: flex; justify-content: center; align-items: center; padding-block: 20px;">
                                        <img src="https://cdn.pixabay.com/animation/2024/04/02/07/57/07-57-40-974_512.gif"
                                            alt="Loading..." style="width: 10%;">
                                    </div>
                                    <div id="endMessage" style="display:none; text-align:center; padding:20px;">
                                        No more results
                                    </div>
                                </section>

                                <!-- Folder -->
                                <div class="page_title" onclick="collapse(this)" id="folderPageTitle">
                                    <span class="down"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg></span>
                                    Folders
                                </div>
                                <section style="width: 100%;">
                                    <div id="folders"
                                        style="overflow-y: scroll !important; display: flex;flex-wrap: wrap;gap: 10px;margin: 10px;justify-content: start; padding-block:10px ;">

                                    </div>
                                </section>

                            </div>
                        </main>
                        <div id="context_menu"
                            style="position: absolute;top: 0;left: 0;display: none;z-index: 1000000;width: 200px;">
                            <ul id="context_menu_list"></ul>
                        </div>
                </div>
        </div>



        <script>
            function safe(v) {
                return DOMPurify.sanitize(v, { ALLOWED_TAGS: [] });
            }

            // ─────────────────────────────────────────────
            // ELEMENT REFERENCES
            // ─────────────────────────────────────────────

            const searchBox = document.getElementById("searchBox");
            const userId = document.getElementById("userId");
            const language = document.getElementById("languagea");
            const searchButton = document.querySelector(".searchContainer button");
            const folderss = document.getElementById("folders");
            const cards = document.getElementById("cards");
            const sentinalAA = document.getElementById("sentinalAA");
            const endMessage = document.getElementById("endMessage");
            const searchResultsText =
                document.querySelector(".searchResultsContainer h2");

            // ─────────────────────────────────────────────
            // GLOBAL STATE
            // ─────────────────────────────────────────────

            let observer = null;
            let page = 1;
            let hasMore = true;
            let loading = false;

            // ─────────────────────────────────────────────
            // ENABLE / DISABLE SEARCH BUTTON
            // ─────────────────────────────────────────────

            document.querySelector(".searchContainer").addEventListener("input", () => {
                searchButton.disabled = !(
                    searchBox.value.trim() ||
                    userId.value.trim() ||
                    language.value.trim()
                );
            });

            // ─────────────────────────────────────────────
            // CREATE INTERSECTION OBSERVER
            // ─────────────────────────────────────────────

            function createObserver() {
                observer?.disconnect();

                observer = new IntersectionObserver(
                    async ([entry]) => {
                        if (!entry.isIntersecting || loading || !hasMore) return;

                        loading = true;
                        const nextPage = page + 1;

                        try {
                            const res = await fetch(
                                `/search/universal/?query=${encodeURIComponent(
                                    searchBox.value.trim()
                                )}&user_Name=${encodeURIComponent(
                                    userId.value.trim()
                                )}&language=${encodeURIComponent(
                                    language.value.trim()
                                )}&pageNum=${nextPage}`
                            );

                            const html = await res.json();

                            if (html.cards && html.cards.length > 0) {
                                html.cards.forEach(e => {
                                    cards.insertAdjacentHTML("beforeend", renderCards(e));
                                });
                                page = nextPage;
                                sentinalAA.style.display = "flex";
                            } else {
                                hasMore = false;
                                sentinalAA.style.display = "none";
                                endMessage.style.display = "block";
                                observer.disconnect();
                            }

                        } catch (err) {
                            console.error(err);
                        } finally {
                            loading = false;
                        }
                    },
                    {
                        root: null,
                        rootMargin: "300px",
                        threshold: 0,
                    }
                );

                observer.observe(sentinalAA);
            }

            // ─────────────────────────────────────────────
            // SEARCH BUTTON CLICK
            // ─────────────────────────────────────────────

            searchButton.addEventListener("click", async () => {
                observer?.disconnect();

                page = 1;
                hasMore = true;
                loading = false;

                cards.innerHTML = "";
                folderss.innerHTML = "";
                folderPageTitle.style.display = "none"
                endMessage.style.display = "none";
                sentinalAA.style.display = "flex";

                searchResultsText.style.display = "block";
                searchResultsText.textContent = "Loading...";

                try {
                    const res = await fetch(
                        `/search/universal/?query=${encodeURIComponent(
                            searchBox.value.trim()
                        )}&user_Name=${encodeURIComponent(
                            userId.value.trim()
                        )}&language=${encodeURIComponent(
                            language.value.trim()
                        )}&pageNum=1`
                    );

                    const html = await res.json();
                    searchResultsText.style.display = "none";

                    if (html.cards && html.cards.length > 0) {
                        html.cards.forEach(e => {
                            cards.insertAdjacentHTML("beforeend", renderCards(e));
                        });

                        createObserver();
                    } else {
                        hasMore = false;
                        sentinalAA.style.display = "none";
                        endMessage.style.display = "block";
                    }

                    if (html.folders.length > 0) {
                        folderPageTitle.style.display = "flex"
                        html.folders.forEach(e => {
                            folderss.insertAdjacentHTML("beforeend", renderFolders(e));
                        });
                    } else {
                        folderPageTitle.style.display = "none"
                    }
                } catch (err) {
                    searchResultsText.textContent = "Error loading results";
                    console.error(err);
                }
            });

            // ─────────────────────────────────────────────
            // INITIAL PAGE LOAD (URL PARAMS)
            // ─────────────────────────────────────────────

            window.onload = async () => {
                const params = new URLSearchParams(window.location.search);
                folderPageTitle.style.display = "none"

                page = 1;
                hasMore = true;

                searchBox.value = params.get("query") || "";
                userId.value = params.get("user_Name") || "";
                language.value = params.get("language") || "";

                searchResultsText.style.display = "block";
                searchResultsText.textContent = "Loading...";

                try {
                    const res = await fetch(
                        `/search/universal/?query=${encodeURIComponent(
                            searchBox.value
                        )}&user_Name=${encodeURIComponent(
                            userId.value
                        )}&language=${encodeURIComponent(
                            language.value
                        )}&pageNum=1`
                    );

                    const html = await res.json();
                    searchResultsText.style.display = "none";

                    if (html.cards && html.cards.length > 0) {
                        html.cards.forEach(e => {
                            cards.insertAdjacentHTML("beforeend", renderCards(e));
                        });

                        createObserver();
                    } else {
                        hasMore = false;
                        sentinalAA.style.display = "none";
                        endMessage.style.display = "block";
                    }

                } catch (err) {
                    searchResultsText.textContent = "Error loading results";
                    console.error(err);
                }
            };


            // Render Cards
            function renderCards(e) {
                return `
<div class="card" id="card-${e._id}"
  ondblclick="window.open('/card/${e._id}', '_blank')"
  data-id="${e._id}"
  tabindex="0"
  data-menus="delete, edit, move, share"
  data-userId="<%= userId %>"
  data-contextMenu="true"
  data-cardName="${safe(e.title)}"
  data-mtype="card"
  data-cardauthor="${e.author._id}"
  data-cardcontent="${safe(`${e.title}, ${e.description}, ${e.content}`)}">

  <div class="header-info">
    <label for="card_${e._id}" style="display:flex;align-items:center;gap:10px">
      <img
        src="${safe(e.author.userImage)}"
        alt=""
        width="40"
        height="40"
        class="profileImage"
        style="border-radius:50%"
        onerror="this.src='https://static.vecteezy.com/system/resources/previews/013/360/247/non_2x/default-avatar-photo-icon-social-media-profile-sign-symbol-vector.jpg'"
      />

      <div class="title">
        <p>
          ${safe(e.title)}
          <span style="
            font-size:13px;
            display:block;
            width:300px;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
          ">
            ${safe(e.description)}
          </span>
        </p>

        <div>
          <span class="author" style="display:inline-block;">
            <strong>
              <a href="/profile/${encodeURIComponent(e.author.userName)}">
                ${safe(e.author.userName)}
              </a>
            </strong>
          </span>,
          <span class="lan">${safe(e.category)}</span>,
          <span class="time">
            ${new Date(e.metadata.createdAt).toLocaleString()}
          </span>
        </div>
      </div>
    </label>

    <div style="width:100px;display:flex;justify-content:end;align-items:center;gap:10px;">
      ${e.isDeleted
                        ? `
        <div class="restore" style="--accent:#60df3abd" data-tooltip="Restore">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-rotate-ccw">
            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
            <path d="M3 3v5h5" />
          </svg>
        </div>
        `
                        : ""
                    }

      <div class="menu_top d-n"
        data-menu-id="${e._id}"
        data-id="${e._id}"
        data-tooltip="Open Menu"
        data-menus="delete, edit, move, share"
        onclick="openContextMenu(event)"
          data-userId="<%= userId %>"

        data-cardauthor="${e.author._id}"
        data-cardName="${safe(e.title)}"
        data-mtype="card"
        data-contextMenu="true"
        tabindex="0">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-ellipsis-vertical">
          <circle cx="12" cy="12" r="1" />
          <circle cx="12" cy="5" r="1" />
          <circle cx="12" cy="19" r="1" />
        </svg>
      </div>
    </div>
  </div>

  <div class="code" title="${safe(e.content)}">
    <pre><code>${safe(e.content)}</code></pre>
  </div>

  ${e.tags && e.tags.length
                        ? `
    <div class="tags d-n">
      ${e.tags
                            .map(
                                tag => `
        <a class="span" href="search?query=${encodeURIComponent(tag)}">
          ${safe(tag)}
        </a>
      `
                            )
                            .join("")}
    </div>
    `
                        : ""
                    }

  <div class="options d-n">
    <div class="open"
      tabindex="0"
      style="display:flex;justify-content:center;align-items:center;gap:10px;cursor:pointer;"
      data-code="${safe(e.content)}">

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-clipboard-copy">
        <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
        <path d="M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2" />
        <path d="M16 4h2a2 2 0 0 1 2 2v4" />
        <path d="M21 14H11" />
        <path d="m15 10-4 4 4 4" />
      </svg>

      <span>Copy Code</span>
    </div>

    <div class="sub_menu">
      <div class="gist_upload" onclick="copy_cdn_link(event)" data-tooltip="Copy CDN Link">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-link">
          <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
          <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
        </svg>
      </div>

      <div class="pin"
        onclick="pinIt(this,'${e._id}')"
        data-tooltip="Pin"
        data-id="${e._id}"
        tabindex="0">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24"
          class="${e.isPinned ? "active" : ""}"
          fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-pin">
          <path d="M12 17v5" />
          <path d="M9 10.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H8a2 2 0 0 0 0 4 1 1 0 0 1 1 1z" />
        </svg>
      </div>

      <div style="display:flex;align-items:center;gap:4px;">
        <span style="font-size:small" class="like-count">
          ${e.likes.length || 0}
        </span>

        <div class="fav"
          data-tooltip="Favorite"
          onclick="favIt(this,'${e._id}')"
          data-id="${e._id}"
          tabindex="0">

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24"
            class="${e.isFavorite ? "active" : ""}"
            fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-star">
            <path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
`;
            }

            function renderFolders(e) {
                return `
<div class="folder"
  tabindex="0"
  data-id="${e._id}"
  data-name="${safe(e.folderName)}"
  data-contextmenu="true"
  data-menus="delete,  move, share, rename"
  onclick="window.location.href = \`/folder/${e._id}\`"
  data-cardName="${safe(e.folderName)}"
  data-mtype="folder"
  data-cardauthor="${e.author._id}"
  data-userId="<%= userId%>"
  style="flex: 1;min-width: 197px; max-width: 210px;display: flex;align-items: center;gap: 10px; padding: 10px;background: var(--bg-color);border-radius: 10px;justify-content: space-between; box-shadow: var(--box-shadow);">

  <div style="display: flex;justify-content: center;align-items: center;gap: 10px;">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
        viewBox="0 0 24 24" fill="#F7B31B"
        stroke="currentColor" stroke-width=".1"
        stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-folder-icon lucide-folder">
        <path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
      </svg>
    </span>

    <span
      style="display: -webkit-box;
             -webkit-line-clamp: 1;
             line-clamp: 1;
             -webkit-box-orient: vertical;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
             max-width: 100px;">
      ${safe(e.folderName)}
    </span>
  </div>

  <div class="menu_top"
    data-menu-id="${e._id}"
    data-id="${e._id}"
    data-menus="delete, move, share, rename"
    onclick="openContextMenu(event)"
    data-userId="<%= userId%>"
    data-cardauthor="${e.author._id}"
    data-cardName="${safe(e.folderName)}"
    data-mtype="folder"
    data-contextMenu="true"
    tabindex="0">

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
      viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-ellipsis-vertical">
      <circle cx="12" cy="12" r="1" />
      <circle cx="12" cy="5" r="1" />
      <circle cx="12" cy="19" r="1" />
    </svg>
  </div>
</div>
`;

            }
        </script>

        <script src="/scripts/ad_search.js"></script>
        <script src="/scripts/Fab.js"></script>
        <script src="/scripts/Notification.js"></script>
        <script src="/scripts/searchFunction.js"></script>
        <script src="/scripts/context_menu.js"></script>
        <script src="\scripts\isonline.js"></script>
        <script src="/scripts/header.js"></script>
        <script src="/scripts/collapse.js"></script>

</body>

</html>