<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Settings | Kodhra - Code Snippet Manager</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/logo.webp" type="image/png" />
  <link rel="stylesheet" href="/style/css/partials/Header.css" />
  <link rel="stylesheet" href="/style/css/ad_search.css" />
  <link rel="stylesheet" href="/style/css/Notification.css" />
  <link rel="stylesheet" href="/style/css/folder.css" />
  <link rel="stylesheet" href="/style/css/loader.css" />
  <link rel="stylesheet" href="/style/css/toast.css" />
  <link rel="stylesheet" href="/style/css/settings.css" />
  <link rel="stylesheet" href="/style/css/index.css" />
  <script src="\scripts\shortcut.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codewithajoydas/toastmaster@3.0.0/dist/toaster.min.css">
</head>

<body data-theme="light">
  <%- include("partials/loader.ejs")%>
    <div class="content">
      <%- include("partials/header.ejs") %>
        <div class="container">
          <%- include("partials/sidebar.ejs", {navigation: 'settings' })%>
            <main style="height: calc(100vh - 70px)">
              <div class="setting_panal">
                <ul>
                  <li>
                    <a href="#profile" data-link="profile" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user-round-cog-icon lucide-user-round-cog">
                        <path d="m14.305 19.53.923-.382" />
                        <path d="m15.228 16.852-.923-.383" />
                        <path d="m16.852 15.228-.383-.923" />
                        <path d="m16.852 20.772-.383.924" />
                        <path d="m19.148 15.228.383-.923" />
                        <path d="m19.53 21.696-.382-.924" />
                        <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                        <path d="m20.772 16.852.924-.383" />
                        <path d="m20.772 19.148.924.383" />
                        <circle cx="10" cy="8" r="5" />
                        <circle cx="18" cy="18" r="3" />
                      </svg>
                      Profile Settings
                    </a>
                  </li>

                  <li>
                    <a href="#general" data-link="general" class="link"><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-app-window-mac-icon lucide-app-window-mac">
                        <rect width="20" height="16" x="2" y="4" rx="2" />
                        <path d="M6 8h.01" />
                        <path d="M10 8h.01" />
                        <path d="M14 8h.01" />
                      </svg> General</a>
                  </li>
                  <li>
                    <a href="#appearance" data-link="appearance" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-app-window-icon lucide-app-window">
                        <rect x="2" y="4" width="20" height="16" rx="2" />
                        <path d="M10 4v4" />
                        <path d="M2 8h20" />
                        <path d="M6 4v4" />
                      </svg>
                      Appearance
                    </a>
                  </li>

                  <li>
                    <a href="#editor" data-link="editor" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-pencil-ruler-icon lucide-pencil-ruler">
                        <path d="M13 7 8.7 2.7a2.41 2.41 0 0 0-3.4 0L2.7 5.3a2.41 2.41 0 0 0 0 3.4L7 13" />
                        <path d="m8 6 2-2" />
                        <path d="m18 16 2-2" />
                        <path d="m17 11 4.3 4.3c.94.94.94 2.46 0 3.4l-2.6 2.6c-.94.94-2.46.94-3.4 0L11 17" />
                        <path
                          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                        <path d="m15 5 4 4" />
                      </svg>
                      Editor
                    </a>
                  </li>

                  <li>
                    <a href="#synchronization" data-link="synchronization" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-cloud-check-icon lucide-cloud-check">
                        <path d="m17 15-5.5 5.5L9 18" />
                        <path d="M5 17.743A7 7 0 1 1 15.71 10h1.79a4.5 4.5 0 0 1 1.5 8.742" />
                      </svg>
                      Sync & Backup
                    </a>
                  </li>
                  <li>
                    <a href="#notification" data-link="notification" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-megaphone-icon lucide-megaphone">
                        <path
                          d="M11 6a13 13 0 0 0 8.4-2.8A1 1 0 0 1 21 4v12a1 1 0 0 1-1.6.8A13 13 0 0 0 11 14H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
                        <path d="M6 14a12 12 0 0 0 2.4 7.2 2 2 0 0 0 3.2-2.4A8 8 0 0 1 10 14" />
                        <path d="M8 6v8" />
                      </svg>
                      Notification
                    </a>
                  </li>
                  <li>
                    <a href="#privacysecurity" data-link="privacysecurity" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-shield-half-icon lucide-shield-half">
                        <path
                          d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                        <path d="M12 22V2" />
                      </svg>
                      Privacy & Security
                    </a>
                  </li>
                  <li>
                    <a href="#export" data-link="export" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-cloud-upload-icon lucide-cloud-upload">
                        <path d="M12 13v8" />
                        <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242" />
                        <path d="m8 17 4-4 4 4" />
                      </svg>
                      Exporting / Importing
                    </a>
                  </li>
                  <li>
                    <a href="#extensions" data-link="extensions" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-blocks-icon lucide-blocks">
                        <path
                          d="M10 22V7a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5a1 1 0 0 0-1-1H2" />
                        <rect x="14" y="2" width="8" height="8" rx="1" />
                      </svg>
                      Extensions / Plugins
                    </a>
                  </li>
                  <li>
                    <a href="#about" data-link="about" class="link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-info-icon lucide-info">
                        <circle cx="12" cy="12" r="10" />
                        <path d="M12 16v-4" />
                        <path d="M12 8h.01" />
                      </svg>
                      About / App Info
                    </a>
                  </li>
                </ul>
                <div class="tabs">
                  <section id="profile" class="tab">

                    <label>
                      <div>
                        <span class="title">Display Name</span>
                        <span class="description">Change how your name appears publicly.</span>
                      </div>
                      <input type="text" name="displayName" id="displayName" placeholder="Enter display name"
                        value="<%= userInfo.goodName%>">
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Username</span>
                        <span class="description">Your unique username (used for profile links).</span>
                      </div>
                      <input type="text" name="username" id="username" placeholder="Enter username"
                        value="<%= userInfo.userName%>">
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Bio</span>
                        <span class="description">Write a short description about yourself.</span>
                      </div>
                      <textarea name="bio" id="bio" rows="5" placeholder="Enter your bio"><%= userInfo.bio%></textarea>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Show My Profile Publicly</span>
                        <span class="description">Control whether your profile is visible to others.</span>
                      </div>
                      <select name="profileVisibility" id="profileVisibility">
                        <option value="public" <%=userInfo.visibility==='public' ? 'selected' : '' %>>Public</option>
                        <option value="private" <%=userInfo.visibility==='private' ? 'selected' : '' %>>Private</option>
                      </select>
                    </label>
                    <br>

                    <label for="">
                      <div>
                        <span class="title">Get Access Token</span>
                        <span class="description">Get your access token to use the API from your browser & more.</span>
                      </div>
                      <div>
                        <input type="text" name="accessToken" id="accessToken"
                          style="margin-bottom: 6px; padding-inline: 2px;" value="<%= userInfo.accesskey %>">
                        <div style="display: flex; width: 60%;gap: 10px;">
                          <button id="getToken" style="flex: 1;">Get Token</button>
                          <button id="copyToken" style="flex: 1;">Copy Token</button>
                        </div>
                      </div>
                    </label>

                  </section>

                  <section id="general" class="tab">

                    <label>
                      <div>
                        <span class="title">App Preferences</span>
                        <span class="description">Choose how the app behaves on startup and during general usage.</span>
                      </div>
                      <select name="uiMode" id="uiMode" disabled>
                        <option value="normal">Normal Mode</option>
                        <option value="compact">Compact Mode</option>
                        <option value="minimal">Minimal Mode</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Default Snippet Language</span>
                        <span class="description">This language is used when creating new snippets unless changed
                          manually.</span>
                      </div>
                      <select name="defaultLanguage" id="defaultLanguage">
                        <option value="JavaScript">JavaScript</option>
                        <option value="CSS">CSS</option>
                        <option value="HTML">HTML</option>
                        <option value="C">C</option>
                        <option value="C++">C++</option>
                        <option value="C#">C#</option>
                        <option value="Java">Java</option>
                        <option value="TypeScript">TypeScript</option>
                        <option value="Python">Python</option>
                        <option value="Ruby">Ruby</option>
                        <option value="PHP">PHP</option>
                        <option value="Go">Go</option>
                        <option value="Rust">Rust</option>
                        <option value="Swift">Swift</option>
                        <option value="Kotlin">Kotlin</option>
                        <option value="Objective-C">Objective-C</option>
                        <option value="Scala">Scala</option>
                        <option value="Perl">Perl</option>
                        <option value="R">R</option>
                        <option value="Dart">Dart</option>
                        <option value="Haskell">Haskell</option>
                        <option value="Lua">Lua</option>
                        <option value="Elixir">Elixir</option>
                        <option value="Clojure">Clojure</option>
                        <option value="Shell">Shell (Bash)</option>
                        <option value="PowerShell">PowerShell</option>
                        <option value="SQL">SQL</option>
                        <option value="GraphQL">GraphQL</option>
                        <option value="MATLAB">MATLAB</option>
                        <option value="Assembly">Assembly</option>
                        <option value="Fortran">Fortran</option>
                        <option value="COBOL">COBOL</option>
                        <option value="Erlang">Erlang</option>
                        <option value="VB.NET">VB.NET</option>
                      </select>

                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Show Sidebar on Startup</span>
                        <span class="description">Choose whether the sidebar is visible when opening the app.</span>
                      </div>
                      <select name="showSidebar" id="showSidebar">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Auto-Save Snippets</span>
                        <span class="description">Automatically save changes made to snippets.</span>
                      </div>
                      <select name="autoSaveInterval" id="autoSaveInterval">
                        <option value="off">Off</option>
                        <option value="5">Every 5 seconds</option>
                        <option value="10">Every 10 seconds</option>
                        <option value="instant">Instant</option>
                      </select>
                    </label>

                  </section>

                  <!-- APPEARANCE -->
                  <section id="appearance" class="tab">

                    <label>
                      <div>
                        <span class="title">Theme</span>
                        <span class="description">Switch between light, dark, or system theme.</span>
                      </div>
                      <select name="themev2" id="themev2">
                        <option value="dark">Dark</option>
                        <option value="light">Light</option>
                        <option value="system">System Default</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Accent Color</span>
                        <span class="description">Choose the primary accent color used across the UI.</span>
                      </div>
                      <select name="accentColorv2" id="accentColorv2">
                        <option value="default">Default</option>
                        <option value="red">🔴 Red</option>
                        <option value="orange">🟠 Orange</option>
                        <option value="yellow">🟡 Yellow</option>
                        <option value="green">🟢 Green</option>
                        <option value="blue">🔵 Blue</option>
                        <option value="purple"> 🟣 Purple</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Font Size</span>
                        <span class="description">Adjust the UI and editor text size.</span>
                      </div>
                      <div
                        style="display: flex;justify-content: space-between;align-items: center;width: 300px;gap: 10px;">
                        <input type="number" min="10" max="30" value="14" name="fontSize" id="fontSize"
                          style="flex: 1;">
                        <div class="fontreset">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-rotate-ccw-icon lucide-rotate-ccw">
                            <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8" />
                            <path d="M3 3v5h5" />
                          </svg>
                        </div>
                      </div>
                    </label>
                    <br>

                    <!-- <label>
                      <div>
                        <span class="title">UI Density</span>
                        <span class="description">Control spacing of UI elements.</span>
                      </div>
                      <select name="uiDensity" id="uiDensity">
                        <option value="comfortable">Comfortable</option>
                        <option value="cozy">Cozy</option>
                        <option value="compact">Compact</option>
                      </select>
                    </label> -->
                    <!-- <br> -->

                    <!-- <label>
                      <div>
                        <span class="title">Sidebar Layout</span>
                        <span class="description">Customize the appearance of the sidebar.</span>
                      </div>
                      <select name="sidebarLayout" id="sidebarLayout">
                        <option value="default">Default</option>
                        <option value="minimal">Minimal</option>
                        <option value="wide">Wide</option>
                      </select>
                    </label> -->

                  </section>

                  <!-- EDITOR -->
                  <section id="editor" class="tab">

                    <label>
                      <div>
                        <span class="title">Tab Size</span>
                        <span class="description">Number of spaces used for indentation.</span>
                      </div>
                      <input type="number" min="1" max="8" value="2" name="tabSize" id="tabSize">
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Word Wrap</span>
                        <span class="description">Automatically wrap long lines of code.</span>
                      </div>
                      <select name="wordWrap" id="wordWrap">
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Line Numbers</span>
                        <span class="description">Show or hide line numbers in the editor.</span>
                      </div>
                      <select name="lineNumbers" id="lineNumbers">
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Syntax Highlighting</span>
                        <span class="description">Choose a syntax style for code.</span>
                      </div>
                      <select name="syntaxStyle" id="syntaxStyle">
                        <option value="default">Default</option>
                        <option value="monokai">Monokai</option>
                        <option value="dracula">Dracula</option>
                        <option value="solarized">Solarized</option>
                      </select>
                    </label>
                    <br>

                    <!-- <label>
                      <div>
                        <span class="title">Auto Format on Save</span>
                        <span class="description">Automatically format code when saving a snippet.</span>
                      </div>
                      <select name="autoFormat" id="autoFormat">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </label> -->

                  </section>

                  <!-- SYNC -->
                  <section id="synchronization" class="tab">

                    <label>
                      <div>
                        <span class="title">Cloud Sync</span>
                        <span class="description">Enable syncing snippets across devices.</span>
                      </div>
                      <select name="cloudSync" id="cloudSync" disabled>
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Auto Sync Frequency</span>
                        <span class="description">How often your snippets are synced.</span>
                      </div>
                      <select name="syncFrequency" id="syncFrequency" disabled>
                        <option value="manual">Manual</option>
                        <option value="10">Every 10 minutes</option>
                        <option value="hourly">Hourly</option>
                        <option value="daily">Daily</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Data Encryption</span>
                        <span class="description">Encrypt data before sending it to the cloud.</span>
                      </div>
                      <select name="dataEncryption" id="dataEncryption" disabled>
                        <option value="enabled">Enabled</option>
                        <option value="disabled">Disabled</option>
                      </select>
                    </label>

                  </section>

                  <!-- NOTIFICATION -->
                  <section id="notification" class="tab">

                    <label>
                      <div>
                        <span class="title">Desktop Notifications</span>
                        <span class="description">Receive notifications about updates and changes.</span>
                      </div>
                      <select name="desktopNotifications" id="desktopNotifications" disabled>
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Snippet Change Alerts</span>
                        <span class="description">Notify when snippets are updated or overwritten.</span>
                      </div>
                      <select name="snippetAlerts" id="snippetAlerts" disabled>
                        <option value="on">On</option>
                        <option value="off">Off</option>
                      </select>
                    </label>

                  </section>

                  <!-- PRIVACY -->
                  <section id="privacysecurity" class="tab">

                    <label>
                      <div>
                        <span class="title">App Lock</span>
                        <span class="description">Secure your snippets with a PIN.</span>
                      </div>
                      <input type="number" name="appLockPin" placeholder="Enter PIN" id="appLockPin" disabled>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Session Timeout</span>
                        <span class="description">Automatically lock the app after inactivity.</span>
                      </div>
                      <select name="sessionTimeout" id="sessionTimeout" disabled>
                        <option value="never">Never</option>
                        <option value="1">1 minute</option>
                        <option value="5">5 minutes</option>
                        <option value="30">30 minutes</option>
                      </select>
                    </label>

                  </section>

                  <!-- EXPORT -->
                  <section id="export" class="tab">

                    <label>
                      <div>
                        <span class="title">Export Format</span>
                        <span class="description">Choose format for exporting snippets.</span>
                      </div>
                      <select name="exportFormat" id="exportFormat" disabled>
                        <option value="json">JSON</option>
                        <option value="markdown">Markdown</option>
                        <option value="text">Plain Text</option>
                      </select>
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Auto Export Schedule</span>
                        <span class="description">Automatically export your snippet collection.</span>
                      </div>
                      <select name="autoExportSchedule" id="autoExportSchedule" disabled>
                        <option value="disabled">Disabled</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                      </select>
                    </label>

                  </section>

                  <!-- EXTENSIONS -->
                  <section id="extensions" class="tab">
                    <label>
                      <div>
                        <span class="title">Extensions</span>
                        <span class="description">Manage installed extensions.</span>
                      </div>
                      <button disabled>Open Extensions</button>
                    </label>
                  </section>

                  <!-- ABOUT -->
                  <section id="about" class="tab">
                    <label>
                      <div>
                        <span class="title">Version Info</span>
                        <span class="description">View your current app version and build number.</span>
                      </div>
                      <input type="text" readonly value="1.0.0" name="appVersion">
                    </label>
                    <br>

                    <label>
                      <div>
                        <span class="title">Check for Updates</span>
                        <span class="description">Check if a new version of the app is available.</span>
                      </div>
                      <button disabled>Check Now</button>
                    </label>
                  </section>

                </div>
              </div>
            </main>
            <div id="context_menu" style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: none;
                  z-index: 1000000;
                  width: 200px;
                ">
              <ul id="context_menu_list"></ul>
            </div>
            <div class="networkInfo" style="display: none">
              <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-info-icon lucide-info">
                  <circle cx="12" cy="12" r="10" />
                  <path d="M12 16v-4" />
                  <path d="M12 8h.01" />
                </svg></span>

              <span id="networkInfo"></span>
            </div>
        </div>
    </div>


    <script src="/scripts/ad_search.js"></script>
    <script src="/scripts/Fab.js"></script>
    <script src="/scripts/Notification.js"></script>
    <script src="/scripts/searchFunction.js"></script>
    <script src="/scripts/context_menu.js"></script>
    <script src="\scripts\isonline.js"></script>
    <script src="/scripts/header.js"></script>

    <script src="\scripts\settings.js"></script>
    <script>
      const sections = document.querySelectorAll("section");
      const navLinks = document.querySelectorAll("a");

      const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          const id = entry.target.getAttribute("id");

          if (entry.isIntersecting) {
            navLinks.forEach(link => link.classList.remove("active"));
            document.querySelector(`a[data-link="${id}"]`)
              .classList.add("active");
          }
        });
      }, {
        threshold: 0.6
      });

      sections.forEach(section => observer.observe(section));

    </script>

    <script>
      document.getElementById("getToken").addEventListener("click", async (e) => {
        document.getElementById("getToken").disabled = true;
        document.getElementById("getToken").textContent = "Generating Token...";
        try {
          const res = await fetch("/token/accesskey", {
            method: "POST",
            credentials: "include"
          });
          const data = await res.json();
          const inputBox = document.getElementById("accessToken");
          inputBox.value = data.accesskey_token;
          inputBox.readOnly = true;
          document.getElementById("getToken").disabled = false;
          document.getElementById("getToken").textContent = "Generate Token";
        } catch (error) {
          console.error(error);
          document.getElementById("getToken").disabled = false;
          document.getElementById("getToken").textContent = "Generate Token";
        }
      })




    </script>

</body>

</html>